@import "tailwindcss";


:root {
  /* Backgrounds */
  --bg-primary: #F8F9F6;
  --bg-secondary: #FFFDFD;

  /* Text */
  --text-primary: #1A1814;
  --text-secondary: #0E0606;
  --text-muted: #A6A5A1;

  /* Accent / Highlights */
  --accent: #EC543C;
}

/* ------------------------------------------------------------
   Tailwind Semantic Colors
------------------------------------------------------------ */
@theme inline {
  /* Fonts */
  --font-logo: "Doto", sans-serif;
  --font-sans: "Montserrat", sans-serif;

  /* Semantic colors for Tailwind */
  --color-background: var(--bg-primary);
  --color-surface: var(--bg-secondary);

  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-muted: var(--text-muted);

  --color-accent: var(--accent);
}

/* ------------------------------------------------------------
   Base Styles
------------------------------------------------------------ */
body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-sans);
}

.font-logo {
  font-family: var(--font-logo);
  font-variation-settings: "ROND" 0;
}